<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
    var cover = item.cover || theme.index_cover;
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
                    <% if (item.subtitle && item.subtitle.length) { %>
                    <h2 class="post-subheading">
                        <%- item.subtitle %>
                    </h2>
                    <% } %>
                    <span class="meta">
                        <!-- Date and Author -->
                        <% if(item.author) { %>
                            Posted by <%- item.author %> on
                        <% } %>
                        <% if(item.date) { %>
                            <%= item.date.format(config.date_format) %>
                        <% } %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        
        <div class="row">
            <div class="col-lg-2 col-md-2" style="margin-left: 20px;">
                <div class="row">
                    <h3 style="margin-top: 30px;">Categories</h3>
                    <%- partial('_partial/index-categories-sidebar', {posts: site.posts}) %>
                </div>

                <div class="row">
                    <h3 style="margin-top: 58px;">Tags</h3>
                </div>
                <div class="row">
                    <% site.tags.each(function(item){ %>
                        <%- partial('_partial/index-tags-sidebar', {item: item}) %>
                    <% }); %> 
                </div>
            </div>
            

            <!-- Post Main Content -->
            <div class="col-lg-7 col-lg-offset-2 col-md-9 col-md-offset-2" style="font-size: 13pt;">
                <div class="row" style="width: 100%">
                <!-- Tags and categories -->
                <% if (item.categories && item.categories.length || item.tags && item.tags.length) { %>
                        <div class="col-lg-6 col-lg-offset-2 col-md-7 col-md-offset-1 post-tags">
                            <% if (item.tags && item.tags.length){ %>
                                <%- partial('article-tags', {item: item}) %>
                            <% } else { %>
                                <%- partial('article-categories', {item: item}) %>
                            <% } %>
                        </div>
                        <div class="col-lg-4 col-md-5 post-categories">
                            <% if (item.tags && item.tags.length && item.categories && item.categories.length){ %>
                                <%- partial('article-categories', {item: item}) %>
                            <% } %>
                        </div>
                    <% } %>

                    <!-- Gallery -->
                    <% if (item.photos && item.photos.length){ %>
                        <%- partial('gallery') %>
                    <% } %>
                </div>

                <%- item.content %>

                <% if(theme.addthis) { %>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%- theme.addthis %>"></script>

                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_sharing_toolbox"></div>
                <% } %>
            </div>

            <!-- Comments -->
            <% if (item.comment != false) { %>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%- partial("_partial/comments.ejs") %>
                </div>
            <% } %>
        </div>
    </div>
</article>